# toolsForDataScienceEva

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Show some of the popular languages that Data Scientists use
- Show some of the commonly used libraries used by Data Scientist
- Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. pytorch

#### Data Science Tools

R

Jupyter Notebook

Github

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200 
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Layan